.contentBlock {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	ul {
		list-style-type: none;
		list-style-position: inside;
		padding: 0px;
		li {
			border-bottom: 1px solid black;
		}
	}
	.contentList {
		display: flex;
		flex-direction: row;
		column-gap: 1rem;
		.messageList {
			max-width: 400px;
			max-height: 407px;
			overflow-y: scroll;
		}
		.userList{}
	}
	.messageForm {
		display: flex;
		align-items: stretch;
		width: 100%;
		.messageFormContent {
			flex: 1;
			width: 100%;
			max-height: 200px;
			resize: vertical;
		}
	}
}
