.loginBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 32%;
	position: relative;
}

.loginBlock > .loginForm {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.homeBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 32%;
	position: relative;
}

.roomCards {
	list-style-type: none;
	padding: 0px;
}

.roomCards > li {
	display: flex;
	justify-content: space-between;
}
