.loginBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.loginBlock > .loginForm {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

/* homepage styles */
.homeBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 30%;

	.homeHead {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		sub {
			width: 100%;
			text-align: right;
			padding-right: 10px;
		}
	}

	.roomsTable {
		width: 100%;
		tr {
		}
		td {
			text-align: center;
			border-bottom: 1px solid black;
		}
	}
}

/* room styles */
.contentBlock {
	display: flex;
	column-gap: 0.5rem;	
	ul {
		list-style-type: none;
		list-style-position: inside;
		padding: 0px;
		li {
			border-bottom: 1px solid black;
		}
	}
}

.messageList {
	max-width: 400px;
}
